In [1]:
from pycaret.classification import *
import pandas as pd
import numpy as np

from catboost import CatBoostClassifier
from sklearn.model_selection import StratifiedKFold

from sklearn.model_selection import KFold, StratifiedKFold
from sklearn.metrics import log_loss
from tensorflow.keras.utils import to_categorical

import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

In [3]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26457 entries, 0 to 26456
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   index          26457 non-null  int64
 1   gender         26457 non-null  object
 2   car            26457 non-null  object
 3   reality        26457 non-null  object
 4   child_num      26457 non-null  int64
 5   income_total   26457 non-null  float64
 6   income_type    26457 non-null  object
 7   edu_type       26457 non-null  object
 8   family_type    26457 non-null  object
 9   house_type     26457 non-null  object
 10  DAYS_BIRTH     26457 non-null  int64
 11  DAYS_EMPLOYED  26457 non-null  int64
 12  FLAG_MOBIL     26457 non-null  int64
 13  work_phone     26457 non-null  int64
 14  phone          26457 non-null  int64
 15  email          26457 non-null  int64
 16  occyp_type     18286 non-null  object
 17  family_size    26457 non-null  float64
 18  begin_month    26457 non-null  float64
 19  credit         26457 non-null  float64
dtypes: float64(4), int64(8), object(8)
memory usage: 4.0+ MB

# 실험 환경 구축 (Setup the enviornment)
PyCaret에서는 모델 학습 전 실험 환경을 구축 해주어야 합니다. setup 함수를 통해 환경을 구축할 수 있습니다.  
setup 단계에서는 PyCaret이 자동으로 컬럼 형태를 인식합니다. 그 후 사용자에게 제대로 인식되었는지 확인을 받게 됩니다.   그 때 enter를 눌러주시면 됩니다.  
또한 주어진 데이터의 얼마를 사용하여 train / validation을 구축할지 묻게 되는데, 전체 데이터를 사용하고 싶다면 enter 눌러주시면 됩니다.  
In PyCaret you have to setup the environment before experimenting with the models. It can be done by using 'setup' method.  
In setup stage, PyCaret automatically interprets column types of the given data and asks the user if it has intepreted it correctly. You can customize whether you want each columns to be interpreted differently by using the parameters in setup method. In this tutorial we will just go with the automatic interpretation by pressing 'enter'.  
Also, it asks the ratio of dataset used to contruct train/validation sets. We will use 100% of the dataset so just press 'enter' again.

In [6]:
clf = setup(data = train, target = 'credit')

In [5]:
#NA 처리 해주자
train.fillna('NaN',inplace = True)
test.fillna('NaN',inplace = True)

In [9]:
#logloss 적용 및 predict_proba로 제출하기 위해 metric 추가
add_metric('logloss', 'LogLoss', log_loss, greater_is_better=False, target="pred_proba")

Name                                                           LogLoss
Display Name                                                   LogLoss
Score Function                   <function log_loss at 0x7fe066778ca0>
Scorer               make_scorer(log_loss, greater_is_better=False,...
Target                                                      pred_proba
Args                                                                {}
Greater is Better                                                False
Multiclass                                                        True
Custom                                                            True
Name: logloss, dtype: object

# 모델 학습 및 비교
환경 구축을 했으니 PyCaret에서 제공하는 기본 모델에 대해 학습하고 비교해보겠습니다.  
compared_models 함수를 통해 15개의 기본 모델을 학습하고 성능을 비교할 수 있습니다.  
log_loss 기준  
Now we have constructed the environment, we will now train and compare the default models provided in PyCaret  
By using 'compare_models' method we can easily train and compare 15 default models provided in the package

In [15]:
#svm, ridge는 predict_proba 미지원
best_3 = compare_models(fold = 5, sort = "logloss",n_select = 4,exclude=['svm','ridge'])

# 모델 앙상블

In [17]:
blended = blend_models(estimator_list = best_3, fold = 5, optimize = 'logloss', method = 'soft')

# 모델 예측 (prediction)

In [ ]:
pred_holdout = predict_model(blended)

In [ ]:
#전체 데이터를 활용한 final 학습
final_model = finalize_model(blended)

In [ ]:
#Accurary, AUC, Logloss 셋다 상위 4개인 모델 사용
prep_pipe = get_config("prep_pipe")
prep_pipe.steps.append(['trained_model', final_model_custom])
prections = prep_pipe.predict_proba(test)
prections

In [ ]:
i, j, k = [], [], []
for row in prections:
  i.append(row[0])
  j.append(row[1])
  k.append(row[2])

len(i), len(j), len(k)

In [ ]:
submit['0'] = i
submit['1'] = j
submit['2'] = k
submit.head(10)
submit.to_csv(PATH+"\submisison.csv",index=False)

In [ ]:
#결과 제출 - predict with test set
#predictions = predict_model(final_model, data = test)
#submission['credit'] = predictions['Score']
#submission.to_csv('submission_proba.csv', index = False)